---
import BaseLayout from "@/layouts/BaseLayout.astro"
import Post from "@/components/Blog/Post.astro"
import { getCollection } from "astro:content"

const posts = await getCollection("blog")

const pageTitle = "trifir3's blog"

const cmp = (a: any, b: any) => {
  if (a.data.pubDate > b.data.pubDate) {
    return -1
  }
  return 1
}

posts.sort(cmp)
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col gap-4">
    {
      posts.map((post) => (
        <Post
          url={`/posts/${post.id}/`}
          title={post.data.title}
          date={post.data.pubDate}
          tags={post.data.tags}
        />
      ))
    }
  </div>
</BaseLayout>
