---
import BaseLayout from "@/layouts/BaseLayout.astro"
import Post from "@/components/Blog/Post.astro"

const posts = await Astro.glob("@/pages/posts/*.md")
const pageTitle = "trifir3's blog"

const cmp = (a: any, b: any) => {
  if (a.frontmatter.pubDate > b.frontmatter.pubDate) {
    return -1
  }
  return 1
}

posts.sort(cmp)
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col gap-4">
    {
      posts.map((post) => (
        <Post
          url={post.url as string}
          path={post.file}
          title={post.frontmatter.title}
          desc={post.frontmatter.description}
          date={post.frontmatter.pubDate}
          tags={post.frontmatter.tags}
        />
      ))
    }
  </div>
</BaseLayout>
